<div class="form-group">
    <lable for="title">Title</lable>
    <input value="" type="text" name="title" id="title" class="form-control" required>

</div>
<div class="form-group">
    <lable for="description">Description</lable>
    <textarea value="" name="description" id="description" class="form-control" required>
        </textarea>

</div>
<div class="form-group">
    <lable for="markdown">Markdown</lable>
    <textarea value="" name="markdown" id="markdown" class="form-control" required>
        </textarea>

</div>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>